<div class="wrapper">
  <mat-card>
    <mat-card-header>
      <mat-card-title>LoLLookup</mat-card-title>
      <mat-card-subtitle>League of Legends profile Lookup</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      LoLLookup is een webapp waarmee je gedetailleerde informatie over jouw League of Legends profiel in kunt zien.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Ga naar LoLLookup</button>
      <button mat-button>Details</button>
    </mat-card-actions>
  </mat-card>
</div>
